.container-init{
	width: 400px;
	margin: 0 auto;
}

	.greeting{
		float: left;
		width: 350px;
		padding: 50px 25px;
		color: white;
		text-align: center;
		background-color: #2ecc71;
	}
			.dare{ font-size: 90px; font-weight: bold; margin: 0; }
			.organizing{ font-size: 36px; color: #5a5a58; margin: 0; }
			.yourlife{ font-size: 45px; color: #5a5a58; margin-top: -10px }
			.loginTitle{ margin-top: -15px; }
			
			.fb{
				float: left;
				height: 43px;
				width: 43px;
				margin-left: 155px;
				background: url('../img/fb.png');
			}

	.arrow_down_init{
	    float: left;
	    width: 0; 
	    height: 0; 
	    border-left: 200px solid transparent;
	    border-right: 200px solid transparent;   
	    border-top: 50px solid #2ecc71;
	}